@charset "UTF8";


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
 :root{
    --color1: #1D1A39;
    --color2: #451952;
    --color3: #662549;
    --color4: #AE445A;
    --color5: #F39F5A;
    --color6: #E8BCB9;
 }
 body{
    background-image: url(imagens/imagem6.jpg);
    background-attachment: fixed;
 }
 header{
    background-image: linear-gradient(to top, var(--color1), var(--color3));
    

 }
 header h1{
    text-align: center;
    color: var(--color6);
    padding-top: 20px;

 }
 header p{
    text-align: center;
    color: var(--color6);
    padding-top: 20px;
    padding-bottom: 20px;
}
 nav{
    background-color: var(--color1);
    padding-bottom: 30px;
    
 }
 nav a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
 }
 a:hover{
    background-color: var(--color3);
    padding: 20px;
    
 }
 main{
    background-color: rgba(255, 255, 255, 0.829);
    margin: 0px 200px;
 }
 .p1{
    background-color: black;
    text-align: center;
    color: white;
 }
main h1{
    text-align: center;
    background-image: linear-gradient(to right, var(--color3), var(--color2));
    color: var(--color6);
    padding: 10px;
    
}
main h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
main h3{
    text-align: center;
    color: var(--color6);
    background-image: linear-gradient(to right, var(--color1), var(--color2), var(--color3));  
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}
#s1{
    margin-left: 30px;
    margin-bottom: 20px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 50px;
    height: 40px;
}