@charset "UTF8";


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
 :root{
    --color1: #190019;
    --color2: #2B124C;
    --color3: #522B5B;
    --color4: #854F6C;
    --color5: #DFB6B2;
    --color6: #FBE4D8;
 }
 body{
    background-color: rgb(41, 31, 41);
 }
 header{
    
    background-image: linear-gradient(to top, var(--color1), var(--color2));
    height: 290px;
 
 }

  
  
  
   
 

header p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--color6);
    margin-top: 52px;
    font-size: 30px;
}
nav a{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 26px;
    margin: 13px;
    transition-duration: .5s;
    
   
}
nav > a:hover{
   background-color: #522B5B;
   border-radius: 40px;
  
}  
  

   

   
   

nav{
    background-color: var(--color1);
    height: 70px;
    
   
    
}   

main{
    height: 100vh;
    margin: auto;
    background-color: white;
    height: 300px;
    margin: 0px 30px;
 
   
}
main h1{
    text-align: center;
    background-image: linear-gradient(to right, var(--color1), transparent);
   
}




























footer{
    text-align: center;
    color: white;
    background-color: #190019;
}